*{
	margin: 0;
	padding: 0;
}
.uno{
	display: block;
	background-color: white;
	width: 83em;
	height: 12em;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index:1000;
	

}
.primermenu{
	margin-left: 2em;
	padding: 0.7em 0;
	display: inline-block;

}

.primermenu li{
	margin-left: 1em;
	list-style: none;
	float: left;
	
}

.fa-pinterest{
font-size: 3em;
color: #bd081c;
margin-top: 0.1em;

}
.input1{
	width: 63em;
	height: 3em;
	margin-left: 2em;
	margin-top: 1em;
	border-radius: 1.5em;
	background:#D1CFCF;
	display: inline-block;

}

.input1[type=text]{
	padding-left: 4em;

}
.fa-search{
	font-size: 1.3em;
	position: absolute;
	top: 1.8em;
	left: 7.5em;
}

.fa-user,.fa-bars,.fa-commenting{
	padding: 0;
	margin-left: 1.2em;
	font-size: 2em;
	margin-top: 0.5em;
	color:#7A7676;
}

.label{
	position: absolute;
	left:58.5em;
	top:2.2em;
	text-decoration: none;
	color:black;
}

.fa-sort-desc{
	position: absolute;
	top:2.2em ;
	left:63em;

}
.fa-times{
	position: absolute;
	top:2.3em;
	left:57em;
}

.segundomenu{
	border-top: 0.1em solid grey;
	padding-top: 1em;
	top:8em;
	margin-left:5em;
	background-color:white;

}


.segundomenu li{
	
	float: left;
	list-style: none;
	margin-right: 2em;
	width: 6.3em;
	height: 4em;
	text-align: center;
	border-radius: 0.8em;
	background-color: orange;

}
.segundomenu li a{
	text-decoration: none;
	color:white;
	display: block;
	margin-top: 1em;
	font-family: 'Kanit', sans-serif;
	text-shadow: 2px 2px black;

}

 .cheat,.fun,.post{
 	background-image:url(background/fondo1.jpeg);
 }
.tutorial,.project,.videos{
	background-image: url(background/fondo2.jpg);
}
.code,.medium,.program{
	background-image: url(background/fondo5.jpg);
}

.photos{
	margin-top: 13em;
	display: inline-block;
	/*outline: 1px solid red;*/
	width: 80em;
}

.photos img{
	border-radius: 1.5em;
	float:left;
	margin-left:3em;
	margin-bottom: 0
}


